.places__link {
    display: block;
    max-width: max-content;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    line-height: 22px;
    font-weight: normal;
    padding-top: 12px;
    letter-spacing: normal;
    text-decoration: underline;
    text-underline-position: under;
    transition: opacity .5s ease;
}

.places__link:hover {
    opacity: .8;
}