.cover__title {
    max-width: 560px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 1;
}

@media (max-width: 610px) {
    .cover__title {
        max-width: 255px;
        font-size: 32px;
        line-height: 35px;
    }
}

